@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background: #0f0f10; */
    background: #ffffff;
    color: #a1114d;
    font-family: "Nunito", serif;
}

input, textarea {
    color: #000;
}